<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#create_article_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<div class="container" id="create_article_form">
  <%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

   <div class="field">
    <%= form.label :Article_Picture %><br />
    <%if params[:action]=='new' %>
     <%= form.file_field :soft_pic, accept: 'image/png,image/jpeg'%>
    <% else %>
    <%= form.file_field :soft_pic, accept: 'image/png,image/jpeg'%>
   
    <%= image_tag(article.pictures.first.soft_pic.url, size: "50x50") if article.pictures.present? %>
    <%end %>
 

 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>





