
<div  class="alert alert-primary" role="alert">
   <p id="notice"><%= notice %></p> 
</div>





<section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    <li class="breadcrumb-item active">Top 10 phone applications and 2017 mobile design awards</li>
                                    <h1><%=@article.title%></h1>
                                </ol>

                                <span class="color-orange"><a href="tech-category-01.html" title="">Technology</a></span>

                                

                               

                               
                            </div><!-- end title -->

                            <div class="single-post-media">
                                 <%= image_tag(@article.pictures.first.soft_pic.url, size: "800x460")%>
                            </div><!-- end media -->

                            <div class="blog-content">  
                              

                                <img src="upload/tech_menu_09.jpg" alt="" class="img-fluid img-fullwidth">

                                  <div class="pp">
                                    <p><%=@article.content%></p>

                                </div><!-- end pp -->
                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Tags</span>
                                    <small><a href="#" title="">lifestyle</a></small>
                                    <small><a href="#" title="">colorful</a></small>
                                    <small><a href="#" title="">trending</a></small>
                                    <small><a href="#" title="">another tag</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">

                       

                            <hr class="invis1">

                            


                            

                            <hr class="invis1">

                            <div class="custombox clearfix">

                                <h4 class="small-title">Comments</h4>
                                
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="upload/author_01.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">

                                                    <h4 class="media-heading user_name">Baltej Singh <small>5 days ago</small></h4>

                                                    <p id="article_comments">
                                                    	<table>
 	                                                      <%@article.article_comments.where(parent_id: nil).each do |cmt|%>
                                                      		<tr>
                                                      			<td><%=cmt.comment%></td>
                                                      			<table style="margin-left: 30px;">
                                                      					<%cmt.comment_reply.each do |cmt_reply|%>
                                                      					<tr>
                                                      						<td><%=cmt_reply.comment%> </td>
                                                      					</tr>
                                                      					<%end%>
                                                      			</table>
                                                      				
                                                      				
                                                      			
                                                      			
                                                      			<td>
                                                      				<div id="<%=cmt.id%>"></div>
                                                      			</td>
                                                      			<td>
                                                      				<div id="myid"></div>
                                                      				<%= form_tag new_reply_path, remote: true, method: :post, id: "answer" do %>
                                                                
                                                      	          		<%= hidden_field_tag :article_comment_id, cmt.id%>
                                                      	          		 <%= button_tag 'reply', class: 'btn btn-primary',
                                                      	                           data: { disable_with: "<i class='fa fa-refresh fa-spin'>
                                                      	     			 </i> Submitting Changes..."} %>
                                                              		 <%end%>
                                                      			</td>
                                                      		</tr>
                                                       	<%end%>
                                                       </table>


                                                    </p>

                                                    
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Leave a Reply</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                       <!--  <form class="form-wrapper">
                                            <input type="text" class="form-control" placeholder="Your name">
                                            <input type="text" class="form-control" placeholder="Email address">
                                            <input type="text" class="form-control" placeholder="Website">
                                            <textarea class="form-control" placeholder="Your comment"></textarea>
                                            <button type="submit" class="btn btn-primary">Submit Comment</button>
                                        </form> -->
                                         <%= form_tag '/article_comments', remote: true, method: :post, id: "article_comment" do %>
									         <%= text_field_tag :comment, '', placeholder: "Type comment"%>
									         <%= hidden_field_tag :article_id, @article.id%>
									         <%= button_tag 'Submit', class: 'btn btn-primary',
									                           data: { disable_with: "<i class='fa fa-refresh fa-spin'>
									      		</i> Submitting Changes..."} %>
								         <%end%>

                                    </div>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

                    